.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px solid tomato;
}

.name {
  margin-right: 20px;
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
}