.courseCard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 50px;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid green;
}

.title {
  margin-bottom: 1rem;
}

.mainDescription, .detailsWrapper {
  min-width: 0
}

.detailsWrapper button {
  display: block;
  margin: 0 auto;
}